
.env


*.pyc
__pycache__/
*.sqlite3


*.log
*.pot
*.pyc
local_settings.py


env/
media/

staticfiles/
node_modules/
dist/




*.swp
*.swo
*.pyc
.DS_Store
Thumbs.db

*/migrations/

.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
